<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>Snap URL</title>
    </head>

    <body>
        <h1>Snap URL</h1>
        <div class="container">
            <input id="short-id" type="text" placeholder="Enter your short id (Yd34s3k3)">
            <div class="btns">
                <button id="get-analytic">Get Analytics</button>
                <button id="generate-link-page">Generate Link</button>
            </div>
            <span id="analytics-details"></span>

        </div>
    </body>
    <script src="/analytics.js"></script>

</html>