<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Snap URL</title>
  </head>

  <body>
    <h1>Snap URL</h1>
    <div class="container">
      <input id="long-url" type="text" placeholder="Enter your long URL">
      <div class="btns">
        <button id="generate-link">Generate Link</button>
        <button id="analyze-link">Analytics</button>
      </div>
      <span id="short-link"></span>

    </div>
  </body>
  <script src="/script.js"></script>
</html>